@media only screen and (max-width: 600px) {
	.header {
		display: none;
	}

	.icon {
		width: 150px;
	}

	.error h1, .error p {
		font-size: 20px;
	}

	.btn-error {
		font-size: 20px;
		width: 100%;
	}
}